<html>
    <body width="500">
        <center>
            <div id="content">
                <iframe width="560" height="315" src="$$PLACEHOLDER$$" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
            <div id="raw_content" class="pre-style">
            </div>
        </center>
    </body>
</html>
